{% extends "layout.html" %}
{% block content %}
<div class="container analysis" id="analysis-page">
	<section  class="container" id="accidents-hotspots">
	    <div class="map-container">
			<div id="map" style="height: 500px;"></div>
		</div>
	</section>
	
    <div class="plot-container">
		<h2> Insights into some factors contributing to accident outcomes </h2>
		
		<figure class="plot-canvas">
            <img src="static/images/accident_severity_by_day_of_week_count.png" alt="accident_severity_by_day_of_week" width="1489", height="789">
            <figcaption>
                <p>                    
					Compared to weekdays, a significant proportion of fatal accidents occur on <em>Sunday</em> and <em>Saturday</em> at about <em>2.39%</em> and <em>2.22%</em> respectively
                </p>
            </figcaption>
        </figure>
		
        <figure class="plot-canvas">
            <img src="static/images/accident_severity_by_time_count.png" alt="accident_severity_by_time" width="1489", height="789">
            <figcaption>
                <p>
                    Most accidents occur between <em><time>7:00AM</time></em> and <em><time>10:30PM</time></em> representing over <em>90%</em> of incidents
                    
                </p>
				<p>
                    A significant proportion of fatal accidents were happen at <em><time>3:30AM</time></em> and <em><time>9:00PM</time></em> at about <em>15.4%</em> and <em>7.3%</em> respectively
                </p>
            </figcaption>
        </figure>

        <figure class="plot-canvas">
            <img src="static/images/accident_severity_by_weather_conditions_count.png" alt="accident_severity_by_weather_conditions" width="1489", height="789">
            <figcaption>
                <p>
                    Notably, the majority of accidents occur in <em>normal conditions</em>, which account for approximately <em>65%</em> of all incidents
                </p>
			</figcaption>
        </figure>

        <figure class="plot-canvas">
            <img src="static/images/accident_severity_by_light_conditions_count.png" alt="accident_severity_by_light_conditions" width="1489", height="789">
            <figcaption>
                <p>
					Accidents are notably more prevalent during lit conditions, making up over <em>97%</em> of cases
					
                </p>
				<p>
					A significant proportion of fatal accidents occur in <em>darkness(lights lit)</em> and <em>daylight</em> conditions at <em>2%</em> and <em>1%</em> respectively
				</p>
            </figcaption>
        </figure>
		
		<figure class="plot-canvas">
            <img src="static/images/accident_severity_by_junction_type_count.png" alt="accident_severity_by_junction_type" width="1489", height="789">
            <figcaption>
                <p>
                    Though over <em>43%</em> of accidents happen at <em>Y-shape</em> junctions, a significant proportion of fatal accidents occur on roads with <em>no junction</em> at about <em>1.85%</em>
                </p>
            </figcaption>
        </figure>

		<figure class="plot-canvas">
            <img src="static/images/accident_severity_by_number_vehicles_involved_count.png" alt="accident_severity_by_number_vehicles_involved" width="1489", height="789">
			<figcaption>
				<p>
				   Though over <em>66%</em> of accidents include <em>two vehicles</em>, a significant proportion of fatal accidents involve a <em>single vehicle</em> at about <em>2.2%</em>
				</p>
			</figcaption>
        </figure>
		
		<figure class="plot-canvas">
            <img src="static/images/accident_severity_by_age_band_count.png" alt="accident_severity_by_age_band" width="1489", height="789">
            <figcaption>
                <p>
                    A significant proportion of fatal accidents involve people in the age bands of <em>Under 18</em> and <em>Unknown</em> at <em>1.26%</em> and <em>1.09%</em> respectively
                </p>
            </figcaption>
        </figure>
    </div>
</div>
{% endblock %}
