{% extends "layout.html" %}
{% block content %}
<div class="container predict" id="predict-page">
    <form class="predict-form" action="{{url_for('make_prediction')}}" method="post">

        <!-- Add day of the week -->
        <div class="select-container" id="day-of-week">
            <div class="select-btn" type="button">
                <span class="btn-text">Day of the Week</span>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="select-content">
                <ul class="select-options">
                    <li class="mon">Monday</li>
                    <li class="tue">Tuesday</li>
                    <li class="wed">Wednesday</li>
                    <li class="thu">Thursday</li>
                    <li class="fri">Friday</li>
                    <li class="sat">Saturday</li>
                    <li class="sun">Sunday</li>
                </ul> 
                <input type="text" class="text-input" name="day-of-week" value="" style="visibility: hidden;" required>    
            </div>
        </div>

        <!-- Age band of the driver -->
        <div class="select-container" id="driver-age">
            <div class="select-btn" type="button">
                <span class="btn-text">Age Band of Driver</span>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="select-content">
                <ul class="select-options">
                    <li class="u-18">Under 18</li>
                    <li class="018-30">18-30</li>
                    <li class="o31-50">31-50</li>
                    <li class="o-51">Over 51</li>
                    <li class="unknown-age">Unknown</li>
                </ul> 
                <input type="text" class="text-input" name="driver-age" value="" style="visibility: hidden;" required>    
            </div>
        </div>

        <!-- Sex of driver -->
        <div class="select-container" id="driver-sex">
            <div class="select-btn" type="button">
                <span>Sex of Driver</span>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="select-content">
                <ul class="select-options">
                    <li class="male">Male</li>
                    <li class="female">Female</li>
                    <li class="unkown-sex">Unknown</li>
                </ul>  
                <input type="text" class="text-input" name="driver-sex" value="" style="visibility: hidden;" required>
                
            </div>
        </div>

        <!-- Vehicle-Driver Relation -->
        <div class="select-container" id="veh-driv-rln">
            <div class="select-btn" type="button">
                <span>Vehicle Driver Relation</span>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="select-content">
                <ul class="select-options">
                    <li class="owner">Owner</li>
                    <li class="employee">Employee</li>
                    <li class="other">Other</li> 
                </ul>  
                <input type="text" class="text-input" name="veh-driv-rln" value="" style="visibility: hidden ;" required>   
            </div>
        </div>

        <!-- Cause of Accident -->
        <div class="select-container" id="cause-of-accident">
            <div class="select-btn" type="button">
                <span>Cause Of Accident</span>
                <i class='bx bxs-down-arrow'></i>
            </div>

            <div class="select-content">
                <ul class="select-options">
                    <li class="changing-lane">Changing lane</li>
                    <li class="careless-driving">Careless driving</li>
                    <li class="no-distance">No distancing</li>
                    <li class="moving-back">Moving Backward</li>
                    <li class="overtaking">Overtaking</li>
                    <li class="driving-drugs">Driving under the influence of drugs</li>
                    <li class="other">Other</li>
                </ul> 
                <input type="text" class="text-input" name="cause-of-accident" value="" style="visibility: hidden;" required>     
            </div>
        </div>

				<div class="select-container" id="no-of-vehicles-involved">
					<label for="no-of-vehicles-involved">No of Vehicle Involved in Accidents</label>
					<select id="no-of-vehicles-involved" name="no-of-vehicles-involved" required>
						<option value="">Choose</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<!-- Add the rest of the options -->
					</select>
				</div>

				<div class="select-container" id="driving-experience">
					<label for="driving-experience">Driver's Experience</label>
					<select id="driving-experience" name="driving-experience" required>
						<option value="">Choose</option>
						<option value="Below 1yr">Below 1 year</option>
						<option value="1-2yr">1 to 2 years</option>
						<!-- Add the rest of the options -->
					</select>
				</div>

			</div>
			
		</div>
		
		<button type="submit" class="submit-btn">Submit</button>
	</form>

	
    {% if result_p  %}
        <div class="result-container">
            <p id="pred-result" class="result-text"> {{result_p}}</p>
        </div>
    {% endif %}
</div>
{% endblock %}
