{% extends "layout.html" %}
{% block content %}
<div class="container predict" id="predict-page">
	<form class="predict-form" action="{{ url_for('make_prediction') }}" method="post">
		<div class="form-grid">
			<div>
				<div class="select-container" id="vehicle-defect">
					<label for="vehicle-defect">No of Defects in Vehicle</label>
					<select id="vehicle-defect" name="vehicle-defect" required>
						<option value="">Choose</option>
						<option value="0">None</option>
						<option value="5">Not more than 5</option>
						<option value="7">More than 5</option>
					</select>
				</div>

				<div class="select-container" id="driver-age">
					<label for="driver-age">Age</label>
					<select id="driver-age" name="driver-age" required>
						<option value="">Choose</option>
						<option value="Under 18">Below 18</option>
						<option value="18-30">18 to 30 years old</option>
						<option value="31-50">31 to 50 years old</option>
						<option value="Over 51">Above 51 years old</option>
					</select>
				</div>

				<div class="select-container" id="light-condition">
					<label for="light-condition">Lighting</label>
					<select id="light-condition" name="light-condition" required>
						<option value="">Choose</option>
						<option value="Daylight">Daylight</option>
						<option value="Darkness - lights lit">Darkness with lights on</option>
						<option value="Darkness - no lighting">Darkness with no lights on the road</option>
						<option value="Darkness - lights unlit">Darkness with lights off</option>
					</select>
				</div>
			</div>
			
			<div>
				<div class="select-container" id="cause-of-accident">
					<label for="cause-of-accident">Cause Of Accident</label>
					<select id="cause-of-accident" name="cause-of-accident" required>
						<option value="">Choose</option>
						<option value="No priority to vehicle">No priority to vehicle</option>
						<option value="Driving under the influence of drugs">Driving under influence of drugs</option>
						<!-- Add the rest of the options -->
					</select>
				</div>

				<div class="select-container" id="no-of-vehicles-involved">
					<label for="no-of-vehicles-involved">No of Vehicle Involved in Accidents</label>
					<select id="no-of-vehicles-involved" name="no-of-vehicles-involved" required>
						<option value="">Choose</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<!-- Add the rest of the options -->
					</select>
				</div>

				<div class="select-container" id="driving-experience">
					<label for="driving-experience">Driver's Experience</label>
					<select id="driving-experience" name="driving-experience" required>
						<option value="">Choose</option>
						<option value="Below 1yr">Below 1 year</option>
						<option value="1-2yr">1 to 2 years</option>
						<!-- Add the rest of the options -->
					</select>
				</div>

			</div>
			
		</div>
		
		<button type="submit" class="submit-btn">Submit</button>
	</form>

	
    {% if result_p  %}
        <div class="result-container">
            <p id="pred-result" class="result-text"> {{result_p}}</p>
        </div>
    {% endif %}
</div>
{% endblock %}
